<div class="row">
  <div class="col-md-6">
    <h3 id="syllabus-shell">The Unix Shell</h3>
    <ul>
      <li>Making your life easier with aliases</li>
      <li>Moving around folders faster</li>
      <li>Finding files and folders</li>
      <li>Find and replace</li>
      <li>Editing file names</li>
      <li>Smarter ways to inspect files</li>
      <li>Check how much resources your programs use</li>
      <li>Setting up Unix Bash Shell scripts</li>
      <li><a href="{{site.swc_pages}}/shell-novice/reference">Reference...</a></li>
    </ul>
  </div>
</div>

We hope to receive many suggestions from the participants too beforehand, so we are able to tune the workshop.
